@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components

<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">
    <div class="container">
        <NavLink class="navbar-brand fw-bold" href="/">ALOHA</NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navAloha">
            <span class="navbar-toggler-icon"></span>
        </button>

        <nav id="navAloha" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><NavLink class="nav-link" href="/">Home</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/habitaciones">Habitaciones</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/nosotros">Nosotros</NavLink></li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="/reservas">Mis reservas</NavLink></li>
                    </Authorized>
                </AuthorizeView>
            </ul>

            <ul class="navbar-nav ms-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="/auth/logout">Salir</NavLink></li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item"><NavLink class="nav-link" href="/auth/login">Login</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="/auth/register">Registrarse</NavLink></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </nav>
    </div>
</header>

<main class="container py-4">
    @Body
</main>
