<nav class="pager">
    <button disabled="@(Pagina<=1)" @onclick="Prev">«</button>
    <span>Página @Pagina de @TotalPaginas</span>
    <button disabled="@(Pagina>=TotalPaginas)" @onclick="Next">»</button>
</nav>

@code{
    [Parameter] public int Pagina { get; set; }
    [Parameter] public int TotalPaginas { get; set; }
    [Parameter] public EventCallback<int> OnChange { get; set; }

    async Task Prev() => await OnChange.InvokeAsync(Pagina - 1);
    async Task Next() => await OnChange.InvokeAsync(Pagina + 1);
}
