@using SistemaHotelAloha.Web.Models

<div class="photo-grid">
  @foreach (var f in Fotos.Take(6))
  {
    <img src="@f.Url" loading="lazy" alt="@f.Alt" />
  }
</div>

@code{
  [Parameter] public List<Foto> Fotos { get; set; } = new();
}
